<section id="other-portfolio" class="mt-5 pt-5 bg-gr other-portfolio">
  <div class="container-med">
    <div class="row">
      <div class="container">
        <h2 class="title text-uppercase mb-1 text-center">SOME of my OTHER mvp work...</h2>
        <div class="d-flex justify-content-center">
          <div class="title-line mb-5"></div>
        </div>
      </div>
      <div class="card-deck">
        <div class="card"> <img class="card-img-top" src="assets/img/artwork/speekio-marketing.jpg">
          <div class="card-body">
            <h5 class="card-title">SpeekIO Marketing Website</h5>
            <p class="card-text">End-to-end UI/UX design with markup writing for Embrace-IT Denmark. </p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="d-flex justify-content-between"> <a href="http://speek.io/" class="text-decoration-none" target="_blank" >
              <button class=" btn-dark btn-sm" type="button"><i class="fas fa-paper-plane mr-1"></i>Live Demo </button>
              </a> </div>
          </div>
        </div>
        <div class="card"> <img class="card-img-top" src="assets/img/artwork/inlogic_classic_school_system_msteams.jpg">
          <div class="card-body">
            <h5 class="card-title">InLogic School Management System Integrated with Microsoft Teams</h5>
            <p class="card-text">Complete UI/UX design with markup writing for Inlogic Denmark. Client shared his pin-pointed pain points they were experiencing with the current limited system so I started it directly in markup by using Bootstrap because scope and requirements were clear and straight-forward.</p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="d-flex justify-content-between"> <a href="https://saadgb.github.io/InLogic/MS_Teams" class="text-decoration-none"  target="_blank" >
              <button class="btn-dark btn-sm" type="button"><i class="fas fa-paper-plane mr-1"></i>Live Demo </button>
              </a> </div>
          </div>
        </div>
        <div class="card"> <img class="card-img-top" src="assets/img/artwork/inlogic_classic_school_system.jpg">
          <div class="card-body">
            <h5 class="card-title">InLogic School Management System Redesigned Portal</h5>
            <p class="card-text">Complete UI/UX with markup designed for Inlogic Denmark. Client wanted to upgrade their exisiting portal to new framework and wanted to integrate new components so I designed it using Bootstrap.</p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="d-flex justify-content-between"> <a href="https://saadgb.github.io/InLogic/Classic" class="text-decoration-none"  target="_blank">
              <button class="btn-dark btn-sm" type="button"><i class="fas fa-paper-plane mr-1"></i>Live Demo </button>
              </a> </div>
          </div>
        </div>
      </div>
      <div class="card-deck">
        <div class="card"> <img  class="card-img-top " src="assets/img/artwork/easybrand-website.jpg">
          <div class="card-body">
            <h5 class="card-title">EasyBrand Marketing Website</h5>
            <p class="card-text">Complete UI/UX with markup designed for EasyBrand (Optimentor) Denmark</p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="d-flex justify-content-between"> <a href="https://saadgb.github.io/EasyBrand/web" class="text-decoration-none"  class="text-decoration-none"  target="_blank" >
              <button class="btn-dark btn-sm" type="button"><i class="fas fa-paper-plane mr-1"></i>Live Demo </button>
              </a> </div>
          </div>
        </div>
        <div class="card"> <img class="card-img-top" src="assets/img/artwork/easybrand-admin-portal.jpg">
          <div class="card-body">
            <h5 class="card-title">EasyBrand Admin Portal</h5>
            <p class="card-text">Complete UI/UX with markup designed for EasyBrand (Optimentor) Denmark. Client's requirement and scope was clear and well-defined so I wrote its markup using Bootstrap framework.</p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="d-flex justify-content-between"> <a href="https://saadgb.github.io/EasyBrand/admin" class="text-decoration-none"  target="_blank" >
              <button class="btn-dark btn-sm" type="button"><i class="fas fa-paper-plane mr-1"></i>Live Demo </button>
              </a> </div>
          </div>
        </div>
        <div class="card"> <img class="card-img-top" src="assets/img/artwork/easybrand-client-portal.jpg">
          <div class="card-body">
            <h5 class="card-title">EasyBrand Client Portal</h5>
            <p class="card-text">Complete UI/UX with markup designed for EasyBrand (Optimentor) Denmark. Client's requirement and scope was clear and defined so I wrote its markup using Bootstrap framework.</p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="d-flex justify-content-between"> <a href="https://saadgb.github.io/EasyBrand/client" class="text-decoration-none"  target="_blank">
              <button class="btn-dark btn-sm" type="button"><i class="fas fa-paper-plane mr-1"></i>Live Demo </button>
              </a> </div>
          </div>
        </div>
      </div>
      <div class="card-deck">
        <div class="card"> <img class="card-img-top" src="assets/img/artwork/gd-free-order.jpg">
          <div class="card-body">
            <h5 class="card-title">Gyldendal Free Order Module</h5>
            <p class="card-text">Complete UI/UX design with markup for Gyldendal - Book publisher of Denmark. Client required to add some features in their exisiting portal so I wrote it's markup to support required features.</p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="d-flex justify-content-between"> <a href="https://saadgb.github.io/GD/FreeOrder" class="text-decoration-none"  target="_blank">
              <button class="btn-dark btn-sm" type="button"><i class="fas fa-paper-plane mr-1"></i>Live Demo </button>
              </a> </div>
          </div>
        </div>
        <div class="card"> <img class="card-img-top" src="assets/img/artwork/gd-order-manage.jpg">
          <div class="card-body">
            <h5 class="card-title">Gyldendal Order Management Module</h5>
            <p class="card-text">UI/UX of order steps and tweaks with markup designed for Gyldendal - Book publisher of Denmark. Client wanted to implement order steps process in their portal so they can show information of the product for their clients. I wrote its markup for the required feature. </p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="d-flex justify-content-between"> <a href="https://saadgb.github.io/GD/OrderManagement/order-1" class="text-decoration-none"  target="_blank" >
              <button class="btn-dark btn-sm" type="button"><i class="fas fa-paper-plane mr-1"></i>Live Demo </button>
              </a> </div>
          </div>
        </div>
        <div class="card"> <img class="card-img-top" src="assets/img/artwork/optimentor_web.jpg">
          <div class="card-body">
            <h5 class="card-title">Optimentor Marketing Website</h5>
            <p class="card-text">Complete UI/UX design with markup for Optimentor Denmark. Client wanted a fresh design of their marketing website so I wrote its markup by using Bootstrap framework.</p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="d-flex justify-content-between"> <a href="https://saadgb.github.io/Optimentor" class="text-decoration-none"  target="_blank" >
              <button class="btn-dark btn-sm" type="button"><i class="fas fa-paper-plane mr-1"></i>Live Demo </button>
              </a> </div>
          </div>
        </div>
      </div>
      <div class="card-deck">
        <div class="card"> <img class="card-img-top" src="assets/img/artwork/android_ios_knot_game.jpg">
          <div class="card-body">
            <h5 class="card-title">Knot Game Project (Android & iOS)</h5>
            <p class="card-text">I entirely designed all the assets by using Photoshop for the game components. Client wanted a new and fresh look of the game.</p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="d-flex justify-content-between"> <a href="https://play.google.com/store/apps/details?id=net.ibexsolutions.flow8" class="text-decoration-none" target="_blank" >
              <button class="btn-dark btn-sm" type="button"><i class="fas fa-paper-plane mr-1"></i>App Link </button>
              </a> </div>
          </div>
        </div>
        <div class="card"> <img class="card-img-top" src="assets/img/artwork/umall_ufone_android_app.jpg">
          <div class="card-body">
            <h5 class="card-title">Umall App (Android) for Ufone - 2015</h5>
            <p class="card-text">UI/UX app design for Ufone Pakistan. Client wanted a simple shopping app for their customers so I designed it by using Photoshop because exporting assets for app were required as well.</p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="d-flex justify-content-between"> <a href="https://propakistani.pk/2015/03/17/umall-ufone-to-launch-its-own-online-shopping-portal/" class="text-decoration-none" target="_blank" >
              <button class="btn-dark btn-sm" type="button"><i class="fas fa-paper-plane mr-1"></i>App Details </button>
              </a> </div>
          </div>
        </div>
        <div class="card"> <img class="card-img-top" src="assets/img/artwork/data_anonymyzer.jpg">
          <div class="card-body">
            <h5 class="card-title">Data Anonymyzer</h5>
            <p class="card-text">Data anonymyzer app which anonymyze exisitng data according to GDPR policy. I was responsible for UI/UX design at Synergy-IT.</p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="d-flex justify-content-between"> <a href="assets/img/artwork/data_anonymyzer.pdf" class="text-decoration-none" target="_blank">
              <button class="btn-dark btn-sm" type="button"><i class="fas fa-paper-plane mr-1"></i>HIGH-RES PDF </button>
              </a> </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</section>
