<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %} {% endblock %}
</head>

<body class="{{ body_classes }}" style="{{ body_style }}">
<a href="javascript:" id="return-to-top"><i class="fas fa-chevron-up"></i></a>
    {% block content %} {% endblock %}
    
    {% include "templates/partials/footer.njk" %}
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview" style="width: 100%;" > </div>
    </div>
  </div>
</div>    
   <!--   Core JS Files   --> 
<script src="./assets/js/jquery-3.4.1.min.js" type="text/javascript"></script> 
<script src="./assets/js/bootstrap.min.js" type="text/javascript"></script> 
<script src="./assets/js/typewriter.js" type="text/javascript"></script> 
<script src="./assets/js/modal-img.js" type="text/javascript"></script> 
<script src="./assets/js/mediaelement-and-player.min.js" type="text/javascript"></script> 
<script src="./assets/js/flickity.pkgd.min.js" type="text/javascript"></script> 
    
<script>
    
    $('.carousel').flickity({
  arrowShape: 'M 10,50 L 60,100 L 65,95 L 20,50  L 65,5 L 60,0 Z'
});
    
    </script>
    
<script>

     $(function(){ 
     var navMain = $(".navbar-collapse"); // avoid dependency on #id
     // "a:not([data-toggle])" - to avoid issues caused
     // when you have dropdown inside navbar
     navMain.on("click", "a:not([data-toggle])", null, function () {
         navMain.collapse('hide');
     });
 });
    
</script> 
<script>    
    
    // ===== Scroll to Top ==== 
$(window).scroll(function() {
    if ($(this).scrollTop() >= 50) {        
        $('#return-to-top').fadeIn(200);    
    } else {
        $('#return-to-top').fadeOut(200);   
    }
});
$('#return-to-top').click(function() {      
    $('body,html').animate({
        scrollTop : 0                       
    }, 500);
});

    </script>
    
    
  <script>
      
      
   $('.main-carousel').flickity({
  // options
  cellAlign: 'left',
  contain: true
});   
      
      
      
      
      
    </script>
    
    
    
    
    
    
    
    
    
    
</body>

</html>
