{% macro meta(title='') %}
<!-- meta.njk -->
<meta charset="utf-8">
{% if title == '' %}
<title>Portfolio of Muhammad Saad </title>
{% else %}
<title>Portfolio of Muhammad Saad </title>
{% endif %}
<meta name="keywords" content="saad, saad ux, saad tariq, saad portfolio, saad tariq portfolio, saad tariq net, msaad, m.saad, muhammad saad, muhammad saad portfolio, muhammad saad tariq, saad isb, chainrulez, saadgb, Cha!N ShooT3R, chain shooter, ui, ux, ui ux designer, ui islamabad, ux islamabad, designer islamabad, apps islamabad, designer pakistan, graphic designer islamabad, graphic designer pakistan,  " />
<link rel="icon" type="image/png" href="./assets/img/favicon.ico">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes, shrink-to-fit=no" name="viewport" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
<script src="https://kit.fontawesome.com/7ca5a4eaa3.js" crossorigin="anonymous"></script>
<link href="assets/css/style.css" rel="stylesheet" type="text/css">
<link href="assets/css/mediaelementplayer.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="assets/css/flickity.min.css" media="screen">

  
<!-- Global site tag (gtag.js) - Google Analytics --> 
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-30466450-1"></script> 
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-30466450-1');
</script>

<!-- end meta.njk -->
{% endmacro %}


{% macro header(currentPage='') %}
<!-- header.njk -->
<header role="banner" class="">
<nav class="navbar navbar-expand-lg navbar-light bg-nav fixed-top ">
  <div class="container"> <a class="navbar-brand" href="index.html"> <img src="assets/img/muhammad-saad.svg" width="30" height="30" alt=""> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li  class="nav-item {% if currentPage == 'home' %}active{% endif %}"> <a class="nav-link" href="index.html"> <i class="fas fa-home"></i>
          <p>projects</p>
          </a> </li>
        <li class="nav-item {% if currentPage == 'home' %}active{% endif %}"> <a class="nav-link" href="my-process.html"> <i class="fas fa-cogs"></i>
          <p>ux process</p>
          </a> </li>
        <li class="nav-item {% if currentPage == 'home' %}active{% endif %}"> <a class="nav-link" href="projects.html"><i class="fas fa-puzzle-piece"></i>
          <p>work</p>
          </a> </li>
        <li class="nav-item {% if currentPage == 'about' %}active{% endif %}"> <a class="nav-link" href="about.html"> <i class="fas fa-certificate"></i>
          <p>about</p>
          </a> </li>
      </ul>
    </div>
  </div>
</nav>
</header>
<!-- end header.njk -->
{% endmacro %}
