{% extends "templates/layout.njk" %}

{% import "templates/macros/globals.njk" as g %}

{% block meta %}
{{ g.meta() }}
{% endblock %}

{% block content %} 
<!-- index.njk --> 
{{ g.header(currentPage='about') }}





<section id="myself" >
     <br><br><br>
  <div class="container">
    <div class="row">
     
      <div class="col-sm-12 ">
        <div class="myself-txt case-text pt-4 mb-5 text-center">
          <h2 class="text-subheading">UX Designer, Problem Solver and Visual Artist</h2>
          <p class="text__color mobile__text mt-3">I have 10+ years of experience in UX and UI. I'm end-to-end designer focused on user-experience design, visual design and prototyping. I love and enjoy creating user-centric, delightful and human experiences to make sure my end users are happy when they use their products and services. </p>
          <p class="text__color desktop__text mt-3">I have 10+ years of experience in UX and UI. I'm end-to-end designer focused on user-experience design, visual design and prototyping. I love and enjoy creating user-centric, delightful and human experiences to make sure my end users are happy when they use their products and services. </p>
          
            <div class="d-flex justify-content-center">  
            <a href="Muhammad-Saad_CV.pdf"  target="_blank" class="text-decoration-none">
            <button class=" btn-dark btn-sm">Download my CV </button>
          </a></div>
          
          
            
          
          
          </div>
      </div>
    </div>
  </div>
</section>
<section id="ux-skills">
  <div class="container mt-5">
      
      
      
  
      
      
   
        
        <div class="row"> 
            
            
         <div class="mx-auto">      
            
         <h1 class="mb-4 ft-dark font-weight-bold"><span class="brand-color">UX</span> Skills</h1>
        </div>
            </div>
            
            
            <div class="row"> 
        
             <div class="col-sm-4">
        <ul>
          <li>UI/UX design</li>
          <li>Visual design</li>
          <li>Task flows</li>
          <li>Usability testing</li>
          <li>User journeys</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul>
          <li>Research</li>
          <li>Prototyping</li>
          <li>Personas</li>
          <li>Sitemaps</li>
          <li>Interviewing</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul>
          <li>Design thinking</li>
          <li>High fidelity prototyping</li>
          <li>Wireframes</li>
          <li>Surveying</li>
          <li>Html+CSS</li>
        </ul>
      </div>
        
        
      </div>
      
       
        
        
     
      
      
 
      
      
  </div>
</section>
    
    
<div class="destination" id="certs"></div>
<section id="cert" class="mt-5">
  <div class="page-header-image">
    <div class="container">
      <div class="row">
        <div class="container certs-container">
        
            
            
            <h1 class="font-weight-bold text-center p-heads">Certifications</h1>
            
            
            
            
            
       <div class="d-flex justify-content-center">
          <div class="title-line "></div>
        </div>
          <div class="card-deck">
            <div class="card"> <a href="javascript:void(0)" class="pop cur-zoom"> <img src="assets/img/cert/design-thinking.jpg"></a>
              <div class="card-body">
                <h6 class="card-title">DESIGN THINKING: THE BEGINNER'S GUIDE</h6>
                <p class="card-text">Distinction: Top 10% in class</p>
               
                  
             
                  
                  
              </div>
                    <div class="card-footer bg-transparent border-top-0 mb-2">
                  
                  <div class="d-flex justify-content-between"> <a href="https://www.interaction-design.org/muhammad-saad/certificate/course/PcVLrHVw1" target="_blank" class="text-decoration-none">
                  <button class="btn-dark btn-sm" type="button">View official source </button>
                  </a> </div>
                  
                  </div>
            </div>
            <div class="card"> <a href="javascript:void(0)" class="pop cur-zoom"> <img src="assets/img/cert/vr.jpg"></a>
              <div class="card-body">
                <h6 class="card-title">HOW TO DESIGN FOR AUGMENTED AND VIRTUAL REALITY</h6>
                <p class="card-text">Distinction: Top 10% in class</p>
                
                  
                 
                  
                  
                  
              </div>
                   <div class="card-footer bg-transparent border-top-0 mb-2">
                  <div class="d-flex justify-content-between"> <a href="https://www.interaction-design.org/muhammad-saad/certificate/course/PVMGmsBnD" target="_blank" class="text-decoration-none">
                  <button class="btn-dark btn-sm" type="button">Visit official source </button>
                  </a> </div>
                  </div>
            </div>
            <div class="card"> <a href="javascript:void(0)" class="pop cur-zoom"> <img src="assets/img/cert/hci.jpg"></a>
              <div class="card-body">
                <h6 class="card-title">HUMAN-COMPUTER INTERACTION - HCI</h6>
               
                  
                  
                  
                  
                  
              </div>
                
                <div class="card-footer  bg-transparent border-top-0 mb-2">
                  <div class="d-flex justify-content-between"> <a href="https://www.interaction-design.org/muhammad-saad/certificate/course/PSldF74dD" target="_blank" class="text-decoration-none">
                  <button class="btn-dark btn-sm" type="button">Visit official source </button>
                  </a> </div>
                  </div>
                
                
                
                
            </div>
             </div> 
              
            
             <div class="card-deck">
            <div class="card"> <a href="javascript:void(0)" class="pop cur-zoom"> <img src="assets/img/cert/dynamic_ux.jpg"></a>
              <div class="card-body">
                <h6 class="card-title">DYNAMIC USER EXPERIENCE: DESIGN AND USABILITY</h6>
                <p class="card-text">Distinction: Top 10% in class</p>
                
                  
                 
                  
                  
                  
              </div>
                
                 <div class="card-footer  bg-transparent border-top-0 mb-2">
                  
                  <div class="d-flex justify-content-between"> <a href="https://www.interaction-design.org/muhammad-saad/certificate/course/PxHmmBBgD" target="_blank" class="text-decoration-none" >
                  <button class="btn-dark btn-sm" type="button">Visit official source </button>
                  </a> </div>
                  </div>
                
                
                
            </div>
            <div class="card"> <a href="javascript:void(0)" class="pop cur-zoom"> <img src="assets/img/cert/visual.jpg"></a>
              <div class="card-body">
                <h6 class="card-title">THE ULTIMATE GUIDE TO VISUAL PERCEPTION AND DESIGN</h6>
                <p class="card-text">Distinction: Top 10% in class</p>
               
                 
                  
              </div>
                 <div class="card-footer bg-transparent border-top-0 mb-2">
                  <div class="d-flex justify-content-between"> <a href="https://www.interaction-design.org/muhammad-saad/certificate/course/fltqnHSHvN9xVtnRMn" target="_blank" class="text-decoration-none">
                  <button class="btn-dark btn-sm" type="button">Visit official source </button>
                  </a> </div></div>
                
                
            </div>
            <div class="card"> <a href="javascript:void(0)" class="pop cur-zoom"> <img src="assets/img/cert/ui-design-pattern.jpg"></a>
              <div class="card-body">
                <h6 class="card-title">UI DESIGN PATTERNS FOR SUCCESSFUL SOFTWARE</h6>
                
                  
                  
                  
                  
                  
              </div>
                <div class="card-footer bg-transparent border-top-0 mb-2">
                  <div class="d-flex justify-content-between"> <a href="https://www.interaction-design.org/muhammad-saad/certificate/course/fltqnHSHvN9xQbFqRN" target="_blank" class="text-decoration-none">
                  <button class="btn-dark btn-sm" type="button">Visit official source </button>
                  </a> </div>
                  </div>
                
                
            </div>
               </div> 
            
             <div class="card-deck">
              
            <div class="card"> <a href="javascript:void(0)" class="pop cur-zoom"> <img src="assets/img/cert/mobile-ux.jpg"></a>
              <div class="card-body">
                <h6 class="card-title">MOBILE USER EXPERIENCE (UX) DESIGN</h6>
                <p class="card-text">Distinction: Top 10% in class</p>
              
                  
                  
                  
                  
                  
                  
              </div>
                
                <div class="card-footer  bg-transparent border-top-0 mb-2">
                  <div class="d-flex justify-content-between"> <a href="https://www.interaction-design.org/muhammad-saad/certificate/course/fltqnHSHvHRmxZvQ3X" target="_blank" class="text-decoration-none" >
                  <button class="btn-dark btn-sm" type="button">Visit official source </button>
                  </a> </div>
                  </div>
                
                
                
            </div>
            <div class="card"> <a href="javascript:void(0)" class="pop cur-zoom"> <img src="assets/img/cert/dashboard.jpg"></a>
              <div class="card-body">
                <h6 class="card-title">INFORMATION VISUALIZATION: GETTING DASHBOARDS RIGHT</h6>
                <p class="card-text">Distinction: Top 10% in class</p>
               
                  
                  
                  
                  
                  
              </div>
                <div class="card-footer bg-transparent border-top-0 mb-2">
                  <div class="d-flex justify-content-between"> <a href="https://www.interaction-design.org/muhammad-saad/certificate/course/fltqnHSHvHS8NVzsG2" target="_blank" class="text-decoration-none">
                  <button class="btn-dark btn-sm" type="button">Visit official source </button>
                  </a> </div>
                  </div>
                  
                
                
                
            </div>
              
               <div class="card" style="visibility:hidden;"> 
                  
                
                
                
            </div>
              
              
          </div>
        </div>
      </div>
    </div>
  </div>
    
    
    <div class="container">
    
    <div class="o-shape"></div>
    
      
      
      <h2 class="pt-5 mb-5 ft-dark text-center">I <strong>focus</strong> on creating meaningful <strong>experiences</strong> through <span class="brand-color">design</span> thinking</h2>
    
        
        </div>
</section>









{% endblock %}