{% extends "templates/layout.njk" %}

{% import "templates/macros/globals.njk" as g %}

{% block meta %}
{{ g.meta() }}
{% endblock %}

{% block content %} 
<!-- index.njk --> 
{{ g.header(currentPage='') }}
<section class="speekio-project">
  <div class="jumbotron jumbotron-image jumbotron-fluid mt-5 mb-0" style="background-image: url(assets/img/artwork/cubivue-bg.jpg);">
    <div class="container text-white">
      <h1 class="display-4">A cloud based ‘Software as a Service’ (SaaS) solution to improve processes of business</h1>

    </div>
  </div>

    <div class="container">
      <h3 class="font-weight-medium p-heads pt-5"> CubiVue is a ‘Software as a Service’ (SaaS) solution, designed to improve business processes in many industries. This cloud based setup can be use in just couple of hours. The solution is designed to ensure higher and optimized efficiency in order handling, reducing logistic errors, and can produce more efficient performance. I led the mobile app design system across all the industries and optimized the exisitng user experience of the app. </h3>
        
       
      <div class="row row-cus-mg">
        <div class="col-md-4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item font-weight-bold">MY ROLE</li>
            <li class="list-group-item">Journey Mapping</li>
            <li class="list-group-item">Wireframing</li>
            <li class="list-group-item">Screen Flows</li>
            <li class="list-group-item">Visual Design</li>
            <li class="list-group-item">Interaction Design</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item font-weight-bold">PLATFORMS</li>
            <li class="list-group-item">Web(Cloud based)</li>
          </ul><li class="list-group-item">Mobile App(Android & iOS)</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item font-weight-bold">YEAR</li>
            <li class="list-group-item">2019-2020</li>
          </ul>
        </div>
      </div>
      <div class="row row-cus-mg">
        <div class="col-md-12"><span>
          <h3 class="font-weight-bold p-heads">PROBLEM</h3>
          <div class="title-line "></div>
          </span>
          <p>The intial app was serving for a single warehouse industry but later on we expanded support for more major industries which required us to create a unified design system for the app which was called as Cubivue App and it will support all the basic features which will required by all major industries. There was no generalized app for the future industries where our UX resources can map new industries on the exisiting platform to create wireframes and mockups for the customers</p>
        </div>
      </div>
    </div>
  <div class="bg-gr pt-5 pb-5">
 
  <div class="container-med">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item font-weight-bold">SOLUTION</li>
          <li class="list-group-item">I built a simplified design system for the mobile application to be used by UX resources for their customers and for the app developers that can utilized this unified design components and features for the base app. The end product helps digitize processes of understanding and creating a standard for the app which can be easily demostratable for the user and for the developers to create base app.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item font-weight-bold">APPROACH</li>
          <li class="list-group-item">I worked in a team with a fellow designer and a product manager to design the end-to-end UI/UX for the Android and iOS application which were used for designing the base app and mapping future industries to serve optmized experience for their specified processess. I worked closely with my team to gather design requirements, feedback and conduct user testing on wireframes, functional prototypes, and visual designs, both for Android and iOS. I also worked with a team of developers to ensure delivery of the final product.</li>
        </ul>
      </div>
    </div>
  </div>
  </div>      
  <div class="container-fluid mt-5"><img src="assets/img/artwork/showcase-cubivue-L&P.png" width="100%"></div>
  <div class="bg-gr mt-5  pb-5">
    <div class="container">
      <h3 class="font-weight-bold p-heads pt-5 ">WHO IS THIS FOR?</h3>
      <div class="title-line "></div>
      <p>User Research was critical to this project since we were designing for different type of industries which were unknown to us. One of the first things we did was draft personas to understand the common key values. We identified various common variables which we can serve to our clients in the base app. We gathered information from different industries where we were already serving our customers.</p>
      <div class="row mt-5 mb-5">
        <div class="col-md-12">
          <img src="assets/img/artwork/identifying-industries.png" width="100%">
        </div>
      
      </div>
          <h3 class="font-weight-bold p-heads pt-5">FINDINGS</h3>
      <div class="title-line "></div>
        <p>We identified the common variables we required for the base Cubivue app. By researching and consulting with the stakeholders we streamlined our basic features which we will give in our base app.</p>
    </div>
  </div>
  


</section>
{% endblock %} 