{% extends "templates/layout.njk" %}

{% import "templates/macros/globals.njk" as g %}

{% block meta %}
{{ g.meta() }}
{% endblock %}

{% block content %} 
<!-- index.njk --> 
{{ g.header(currentPage='home') }}
<div class="container hero-banner">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-aligner">
        <div class="text">
          <h1>Hello, I’m <br>
            Muhammad Saad</h1>
          <section class="cd-intro mt-4">
            <h2 class="cd-headline letters rotate-2"> <span>Producing end-to-end digital product experiences with a blend of <strong class="ft-dark">design thinking</strong> and <strong class="ft-dark">business goals</strong></span></h2>
            <a href="#me">
            <p class="text-muted">Selected projects below <i class="fas fa-long-arrow-alt-down text-primary"></i></p>
            </a> </section>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="destination" id="me"></div>
<section id="project-1" class="mb-cu">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent pl-0">
        <li class="breadcrumb-item active">SYNERGY-IT</li>
        <li class="breadcrumb-item active">2020</li>
      </ol>
    </nav>
    <h1 class="font-weight-bold p-heads">A fundamental redesign of SpeekIO's hiring experience</h1>
    <div class="title-line"></div>
    <a href="#me">
    <p class="text-muted">View project <i class="fas fa-long-arrow-alt-right"></i> </p>
    </a>
    <div class="text-center">
      <video autoplay="true"  loop hideVideoControlsOnLoad="true"  id="player1"   preload="auto" src="assets/img/speekio-video.mp4" width="100%" height="auto" type="video/mp4"></video>
    </div>
      
      
  </div>
</section>

<section id="project-2" class="mb-cu">
<div class="container">
<nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent pl-0">
        <li class="breadcrumb-item active">SYNERGY-IT</li>
        <li class="breadcrumb-item active">2020</li>
      </ol>
    </nav>
    <h1 class="font-weight-bold p-heads">A fundamental redesign of SpeekIO's hiring experience</h1>
    <div class="title-line"></div>
    <a href="#me">
    <p class="text-muted">View project <i class="fas fa-long-arrow-alt-right"></i> </p>
    </a>
</div>

<div class="main-carousel">
  <div class="carousel-cell"><img src="assets/img/artwork/cubivue-show-1.jpg"></div>
  <div class="carousel-cell">...</div>
  <div class="carousel-cell">...</div>
  ...
</div>




</section>
{% endblock %}