{% extends "templates/layout.njk" %}

{% import "templates/macros/globals.njk" as g %}

{% block meta %}
{{ g.meta() }}
{% endblock %}

{% block content %} 
<!-- index.njk --> 
{{ g.header(currentPage='home') }}
<section class="home">
  <div class="container hero-banner">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-aligner">
          <div class="text">
            <h1>Hello, I’m <br>
              Muhammad Saad</h1>
            <section class="cd-intro mt-4">
              <h2 class="cd-headline letters rotate-2"> <span>Producing end-to-end digital product experiences with a blend of <strong class="ft-dark">design thinking</strong> and <strong class="ft-dark">business goals</strong></span></h2>
              <a href="#projects">
              <p class="text-muted">Selected projects below <i class="fas fa-long-arrow-alt-down text-primary"></i></p>
              </a> </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="destination" id="projects"></div>
  <section id="project-1" class="mb-cu">
    <div class="container">
      <div class="d-flex justify-content-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent pl-0">
            <li class="breadcrumb-item active">SYNERGY-IT</li>
            <li class="breadcrumb-item active">2020</li>
          </ol>
        </nav>
      </div>
      <h1 class="font-weight-bold text-center p-heads">A fundamental redesign of SpeekIO's hiring experience</h1>
      <div class="d-flex justify-content-center">
        <div class="title-line "></div>
      </div>
      <div class="d-flex justify-content-center"> <a href="speekio-project.html" class="text-decoration-none">
        <button class=" btn-dark btn-sm">View project </button>
        </a> </div>
      <div class="text-center">
        <video autoplay="true"  loop hideVideoControlsOnLoad="true"  id="player1"   preload="auto" src="assets/img/speekio-video.mp4" width="100%" height="auto" type="video/mp4"></video>
      </div>
    </div>
  </section>
  <section id="project-2" class="mb-cu">
    <div class="container">
      <div class="d-flex justify-content-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent pl-0">
            <li class="breadcrumb-item active">SYNERGY-IT</li>
            <li class="breadcrumb-item active">2019</li>
          </ol>
        </nav>
      </div>
      <h1 class="font-weight-bold p-heads text-center">A cloud based ‘Software as a Service’ (SaaS) solution to improve processes of business </h1>
      <div class="d-flex justify-content-center">
        <div class="title-line"></div>
      </div>
      <div class="d-flex justify-content-center"> <a href="#" class="text-decoration-none">
      <a href="cubivue-project.html" class="text-decoration-none">  <button class=" btn-dark btn-sm">View project </button></a>
        </a> </div>
    </div>
    <div class="carousel mt-4"
  data-flickity='{ "imagesLoaded": true, "percentPosition": false, "autoPlay": true }'> <img src="assets/img/artwork/cubivue-show-1.jpg"  /> <img src="assets/img/artwork/cubivue-show-2.jpg"  /> <img src="assets/img/artwork/cubivue-show-3.jpg"  /> <img src="assets/img/artwork/cubivue-show-4.jpg"  /> <img src="assets/img/artwork/cubivue-show-5.jpg"  /> <img src="assets/img/artwork/cubivue-show-6.jpg"  /> </div>
  </section>
  <section id="project-3" class="mb-cu">
    <div class="container">
      <div class="d-flex justify-content-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent pl-0">
            <li class="breadcrumb-item active">SYNERGY-IT</li>
            <li class="breadcrumb-item active">2018-2020</li>
          </ol>
        </nav>
      </div>
      <h1 class="font-weight-bold p-heads text-center">Design Systems Experience for Different Platforms </h1>
      <div class="d-flex justify-content-center">
        <div class="title-line"></div>
      </div>
    </div>
    <div class="container-fluid"> <img src="assets/img/artwork/design-systems.jpg"  /> </div>
  </section>
  <section id="project-4" class="mb-cu">
    <div class="container">
      <div class="d-flex justify-content-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent pl-0">
            <li class="breadcrumb-item active">IBEX SOLUTIONS</li>
            <li class="breadcrumb-item active">2016</li>
          </ol>
        </nav>
      </div>
      <h1 class="font-weight-bold p-heads text-center">A platform where user can stream and enjoy unlimited Pakistani music content with or without data</h1>
      <div class="d-flex justify-content-center">
        <div class="title-line"></div>
      </div>
      <div class="d-flex justify-content-center"> <a href="sarayga-project.html" class="text-decoration-none">
        <button class=" btn-dark btn-sm">View project </button>
        </a></div>
    </div>
    <div class="carousel"
  data-flickity='{ "imagesLoaded": true, "percentPosition": false, "autoPlay": true  }'> <img src="assets/img/artwork/sarayga-iphone-showcase-sept-1.jpg"  /> <img src="assets/img/artwork/sarayga-iphone-showcase-sept-2.jpg"  /> <img src="assets/img/artwork/sarayga-iphone-showcase-sept-3.jpg"  /> </div>
  </section>  
</section>
{% endblock %}