{% extends "templates/layout.njk" %}

{% import "templates/macros/globals.njk" as g %}

{% block meta %}
{{ g.meta() }}
{% endblock %}

{% block content %}
<!-- index.njk -->
{{ g.header(currentPage='') }}
<section class="speekio-project">
    
    
    
     <div class="bg-gr "> 
    
    
  <div class="container">
     
      
      
      
      
      
    
      
    <h3 class="font-weight-medium p-heads cm-pt">SpeekIO solution makes hiring process for HR managers easier, faster and more detailed, making it ultimate hiring experience. Hiring managers can create a job ad and can also create initial screening exam test. This cloud based solution can be accessed and use from anywhere in the world. I led the ideation, strategy and design for its web based solution.</h3>
    <div class="row row-cus-mg">
      <div class="col-md-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item font-weight-bold">MY ROLE</li>
          <li class="list-group-item">User Research</li>
          <li class="list-group-item">Journey Mapping</li>
          <li class="list-group-item">Sketching</li>
          <li class="list-group-item">Wireframing</li>
          <li class="list-group-item">Screen Flows</li>
          <li class="list-group-item">Visual Design</li>
          <li class="list-group-item">Interaction Design</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item font-weight-bold">PLATFORMS</li>
          <li class="list-group-item">Web(Cloud based)</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item font-weight-bold">YEAR</li>
          <li class="list-group-item">2019-2020</li>
        </ul>
      </div>
    </div>
    <div class="row row-cus-mg pb-5">
      <div class="col-md-12"><span>
        <h3 class="font-weight-bold p-heads">PROBLEM</h3>
        <div class="title-line "></div>
        </span>
        <p>Many hiring managers create an ad regarding some vacancy on job boards or portals online and create online test forms on some other channels in which filtering out the best candidate for the job is a very tiring process. Hiring managers always experience time consuming process in selecting a best candidate through the screening process.</p>
      </div>
    </div>
      
  </div>    
      
           </div>
         <div class="container">  
         
         
      
        <div class="row row-cus-mg mb-5">
      <div class="col-md-12"><span>
        <h3 class="font-weight-bold p-heads">KEY DRIVERS</h3>
        <div class="title-line "></div>
        </span>
        <p>As there are some portals which can give control to the managers to screen a candidate but either they are for very advance users or they are offering it in higher pricing models. I built my designs to deliver upon the following key points:</p>
      </div>
        
        
  
        
        
        
    </div>
      
  
   
      </div>
      
   
      
      

    
      <div class="container-med">    
          
          
      <div class="row">     
        
      <div class="col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item font-weight-bold">JOB POSTING</li>
          <li class="list-group-item">A job posting portal where hiring manager can post a job related information in detailed manner and can also define hiring flows for his team. The step-by-step wizard will help hiring manager to create comprehensive job-related details.</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item font-weight-bold">ONLINE TEST CREATION</li>
          <li class="list-group-item">A solid online test creation experience where hiring manager can design an online test for the candidate for screening purposes. Test includes manual and automatic scoring by system providing a single point of creating job and test for the candidate.</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item font-weight-bold">FILTERING BEST CANDIDATE</li>
          <li class="list-group-item">A detailed ken-ben design of hiring flow experience where the intelligent system filters out best suitable candidate based on automatic scoring by system & manual scoring by reviewers in no time which saves lots of hours of manual screening process.</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item font-weight-bold">CONDUCT ONLINE VIDEO INTERVIEWS</li>
          <li class="list-group-item">Allowing hiring managers to invite filtered out candidates along with other team members for online video interviews from the same portal.</li>
        </ul>
      </div>
          
          
       </div>   
          
        
     </div>   
      
    
    
    
</section>
{% endblock %}<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
</body>
</html>
