{% extends "templates/layout.njk" %}

{% import "templates/macros/globals.njk" as g %}

{% block meta %}
{{ g.meta() }}
{% endblock %}

{% block content %}
<!-- index.njk -->
{{ g.header(currentPage='') }}
<section class="speekio-project">
  <div class="bg-gr ">
    <div class="container">
      <h3 class="font-weight-medium p-heads cm-pt">SpeekIO solution makes hiring process for HR managers easier, faster and more detailed, making it ultimate hiring experience. Hiring managers can create a job ad and can also create initial screening exam test. This cloud based solution can be accessed and use from anywhere in the world. I led the ideation, strategy and design for its web based solution.</h3>
      <div class="row row-cus-mg">
        <div class="col-md-4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item font-weight-bold">MY ROLE</li>
            <li class="list-group-item">User Research</li>
            <li class="list-group-item">Journey Mapping</li>
            <li class="list-group-item">Sketching</li>
            <li class="list-group-item">Wireframing</li>
            <li class="list-group-item">Screen Flows</li>
            <li class="list-group-item">Visual Design</li>
            <li class="list-group-item">Interaction Design</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item font-weight-bold">PLATFORMS</li>
            <li class="list-group-item">Web(Cloud based)</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item font-weight-bold">YEAR</li>
            <li class="list-group-item">2019-2020</li>
          </ul>
        </div>
      </div>
      <div class="row row-cus-mg pb-5">
        <div class="col-md-12"><span>
          <h3 class="font-weight-bold p-heads">PROBLEM</h3>
          <div class="title-line "></div>
          </span>
          <p>Many hiring managers create an ad regarding some vacancy on job boards or portals online and create online test forms on some other channels in which filtering out the best candidate for the job is a very tiring process. Hiring managers always experience time consuming process in selecting a best candidate through the screening process.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-cus-mg mb-5">
      <div class="col-md-12"><span>
        <h3 class="font-weight-bold p-heads">KEY DRIVERS</h3>
        <div class="title-line "></div>
        </span>
        <p>As there are many onsite onboarding processess for hiring managers to screen a candidate but on some stages, candidate feels shy or they loose intrest during that process. I built my designs to deliver upon the following key points:</p>
      </div>
    </div>
  </div>
  <div class="container-med">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item font-weight-bold">JOB POSTING</li>
          <li class="list-group-item">A job posting portal where hiring manager can post a job related information in detailed manner and can also define hiring flows for his team. The step-by-step wizard will help hiring manager to create comprehensive job-related details and gather candidate profile data.</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item font-weight-bold">ONLINE TEST CREATION</li>
          <li class="list-group-item">A solid online test creation experience where hiring manager can design an online test for the candidate for screening purposes. Test includes manual and automatic scoring by system.</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item font-weight-bold">FILTERING BEST CANDIDATE</li>
          <li class="list-group-item">A detailed ken-ben design of hiring flow experience where the intelligent system filters out best suitable candidate based on automatic scoring by system & manual scoring by reviewers in no time which saves lots of hours of manual screening process.</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item font-weight-bold">CONDUCT ONLINE VIDEO INTERVIEWS</li>
          <li class="list-group-item">Allowing hiring managers to invite filtered out candidates along with other team members for online video interviews from the same portal.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-5"><img src="assets/img/artwork/speekio-key-factors.jpg" width="100%"></div>
  <div class="bg-gr mt-5">
    <div class="container">
      <h3 class="font-weight-bold p-heads pt-5 ">WHAT DOES THE CURRENT HIRING PROCESS LOOK LIKE?</h3>
      <div class="title-line "></div>
      <p>I was looking to get the clear scenerio of how our primary users went about hiring a candidate through fast onboarding process. In order to get a better understanding of their usage and motivations, here are some research techniques I applied for the redesign.</p>
      <div class="row mt-5 mb-5">
        <div class="col-md-6">
          <div class="card" >
            <div class="card-body">
              <h6 class="card-title mb-2">METHOD 1:</h6>
              <h6 class="card-title font-weight-bold mb-3">QUALITATIVE & QUANTITATIVE DATA</h6>
              <p class="card-text">With the help of performing in-person interviews and conducting surveys, I learnt existing user behaviors for hiring a candidate. Findings included understanding of onboarding process, existing hiring portals and users preferences to shortlist a candidate. Some of the insights are shown below.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card" >
            <div class="card-body">
              <h6 class="card-title mb-2">METHOD 2:</h6>
              <h6 class="card-title font-weight-bold mb-3">HR MANAGERS REVIEWS ON DIFFERENT PORTALS</h6>
              <p class="card-text">I gone through hundreds of reviews and comments left by hiring managers on different portals, and further categorized and highlighted them in terms of importance. This critical analysis of feedback helped me identify various pain points and areas of improvement.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row row-cus-mg mb-5">
        <div class="col-md-12"><span>
          <h3 class="font-weight-bold p-heads">“Online onboarding process insight report higher levels of influence and are more dependent on the comfortness of candidates and hiring managers”</h3>
          <div class="title-line "></div>
          </span>
          <p>Hiring managers were always find discomfort from the candidates when they engage them through onsite onboarding process. Due to shyness, these candidates left the interview in between or they felt low in confidence while going through it. In many Scandinavian countries, candidate prefers to go through online onboarding process.</p>
        </div>
        <div class="col-md-12">
          <div class="card" >
            <div class="card-body text-center"><img src="assets/img/artwork/onboarding-survey.png" width="80%"></div>
          </div>
        </div>
      </div>
      <div class="row row-cus-mg mb-5 pb-5">
        <div class="col-md-6"><small class="text-muted">SURVEY FINDINGS</small>
          <h3 class="font-weight-bold p-heads">“Creating exam test online and filtering best candidate through ranking system topped the list of hiring process”</h3>
          <p>A sample of the different set of questions asked from the participants is shared. Items with the highest opportunity highlighted in blue.</p>
        </div>
        <div class="col-md-6 pb-5">
          <div class="carousel mt-4"
  data-flickity='{ "imagesLoaded": true, "percentPosition": false, "autoPlay": true}'><img src="assets/img/artwork/speekio-survey-1.png"  /><img src="assets/img/artwork/speekio-survey-2.png"  /><img src="assets/img/artwork/speekio-survey-3.png"  /><img src="assets/img/artwork/speekio-survey-4.png"  /><img src="assets/img/artwork/speekio-survey-5.png"  /></div>
        </div>
      </div>
    </div>
  </div>
    
    
    
    <div class="container">
     
    
    
    <h3 class="font-weight-bold p-heads pt-5 ">JOURNEY MAPPING</h3>
      <div class="title-line "></div>
      <p>Based upon data gathered from in-person interviews, surveys and reviews, I structured my observations and categorized them using a customer journey map. This helped me to identify pain points and areas for improvement throughout the journey. It also helped to initialize discussions to know knowledge gaps and idea generation between team and stakeholders.</p>
    
     
        </div>
    
    
    <div class="container-med mt-5"><img src="assets/img/artwork/journey-map-speekio.svg" width="100%"></div>
    
    
    <br><br>
    
    
      
    <div class="container">
     
    
   
    <h3 class="font-weight-bold p-heads pt-5 ">CONSIDERING USER NEEDS WITH BUSINESS GOALS</h3>
      <div class="title-line "></div>
      <p>The initial user research uncovered various areas of opportunity, such as creating test and evaluating candidates automatically. However, as the nature of this project was MVP, I kept in mind the buisness goals and resource capacity and decided to work on some key areas, including optimizing user experience around job posting, creating test in quick way, creating hiring flows for the team, reviewing candidates and inviting candidates for video interviews, and thereby, meeting user and business goals including easy hiring and onbaording process, with a strong focus on shortlisting a right candidate to cut down the manual shortlisting process. The previous system also missed the flows and management of the data strategy. The redesign was to reduce these shortcomings.</p>
   
        
       
     
        </div>
    
    
     <div class="container-med">
    
      <div class="row row-cus-mg mb-5 pb-5">
        
             
        <div class="col-md-4">
             <p class="card-title text-center">BRAINSTORMING</p>
            <div class="card">
                
  <img src="assets/img/artwork/speekio-brainstorming.jpg" class="card-img-top" >
  
</div>
            
            
            
            </div>
        
          <div class="col-md-4">
            <p class="card-title text-center">PROTOTYPING</p>
            <div class="card">
  <img src="assets/img/artwork/speekio-sketch.jpg" class="card-img-top" >
  
</div>
            
            
            
            </div>
        
          <div class="col-md-4">
             <p class="card-title text-center">ORGANIZING</p>
            <div class="card">
  <img src="assets/img/artwork/speekio-sticky.jpg" class="card-img-top" >
  
</div>
            
            
            
            </div>
        
        
        
        </div>
    
    
    
    
    </div>
    
    
    
    
     <div class="container">
     
    
   
    <h3 class="font-weight-bold p-heads pt-5 ">ORGANIZING THE STRUCTURE</h3>
      <div class="title-line "></div>
      <p>I optimized the concept with research results aligned with our business goals and went through some rounds of quick iterations using sketches. I also refined information architecture that focused on job creation, designing test, creating hiring flows and evaluation strategy.</p>
   
       <div class="d-flex justify-content-center mt-5"> 
        <img src="assets/img/artwork/speekio-information-arc.svg" width="60%">
     </div>
        </div>
    
    
    
     <div class="container">
     
    
   
    <h3 class="font-weight-bold p-heads pt-5 ">IDEAS TO FLOWS</h3>
      <div class="title-line "></div>
      <p>I sketched many ideas and brainstormed various ways with my team and created low-fidelity wireframes and prototypes to test. The outcome was job creation, test creation, scoring candidate, reviewing candidate flows along with other flows like profile creation, team management etc.</p>
   
      
        </div>
   
 <div class="container-med">
    
  
            <div class="card-shadow">
        
      <div class="carousel mt-4"  data-flickity='{ "imagesLoaded": true, "percentPosition": false, "autoPlay": true}'>
          <img src="assets/img/artwork/speekio-wireframes.png"  /><img src="assets/img/artwork/speekio-wireframes-2.png"  />
    
    
    </div>
    
                </div>
         
         
         
         
   
     
     
     <div class="d-flex justify-content-center mt-5"> 
     <a href="https://xd.adobe.com/view/62be32b8-0247-4b94-83f0-3ad8d53d8aa1-37ed/?fullscreen" target="_blank" class="text-decoration-none">
    <button class=" btn-dark btn-sm">View wireframes in high-res </button>
    </a>
    </div>
    
    
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</section>
{% endblock %}
